html,
body,
.App,
#root {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%; }

#topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 130px; }
  #topHeader h3 {
    font-weight: 300;
    color: #292048;
    transition: all .2s ease-in-out;
    padding: 20px 0 0 0;
    font-size: 24px; }
    #topHeader h3:hover {
      font-size: 32px;
      font-weight: 600; }
  #topHeader a {
    display: flex;
    align-self: center;
    text-decoration: none; }

@media screen and (min-width: 1000px) {
  #topHeader {
    flex-direction: row; } }

@media screen and (max-width: 768px) {
  #topHeader {
    display: flex;
    padding: 10px 0 0 0;
    flex-direction: column;
    min-height: 360px; }
    #topHeader h3 {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      width: 100%;
      text-align: center; }
      #topHeader h3:hover {
        font-weight: 300;
        font-size: 24px; }
    #topHeader a {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%; }
      #topHeader a:hover {
        font-weight: 300;
        font-size: 24px;
        background-color: #4d3576; }
        #topHeader a:hover h3 {
          color: white; } }

#hub {
  color: white;
  width: 900px;
  height: 700px !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #4d3576;
  padding: 50px 0 0 100px; }
  #hub .title {
    width: 100%; }
    #hub .title h2 {
      font-weight: 400;
      font-size: 36px; }
    #hub .title h3 {
      font-weight: 300;
      font-size: 24px; }
  #hub .button-container {
    width: 85%;
    height: 100%; }
    #hub .button-container .help {
      margin: 20px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      #hub .button-container .help h3 {
        font-weight: 100;
        font-size: 24px; }
  #hub #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px; }
    #hub #buttons button {
      font-weight: 500;
      transition: all .2s ease;
      color: #4d3576;
      font-size: 42px;
      border-radius: 3px;
      background-color: white;
      border: none;
      height: 300px;
      width: 300px;
      outline: none; }
      #hub #buttons button .script {
        font-size: 128px;
        font-weight: 800; }
      #hub #buttons button .system {
        font-size: 36px;
        font-weight: 600; }
      #hub #buttons button:hover {
        color: white;
        background-color: #4d3576;
        border: 2px solid white; }

@media screen and (max-width: 992px) {
  #hub {
    padding: 0 0 0 0;
    align-items: center; }
    #hub .title {
      margin-top: 50px; }
    #hub div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 0;
      width: 100%; }
    #hub #button-container {
      width: 90%; }
      #hub #button-container .buttons {
        justify-content: space-around; }
        #hub #button-container .buttons button {
          width: 200px; }
          #hub #button-container .buttons button .script {
            font-size: 72px; } }

@media screen and (max-width: 768px) {
  #hub {
    padding: 0 0 0 0;
    align-items: center; }
    #hub div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 0;
      width: 100%; }
    #hub .button-container {
      width: 100%; }
      #hub .button-container #buttons {
        justify-content: space-around; }
        #hub .button-container #buttons button {
          width: 250px; } }

.profile {
  display: flex;
  align-items: center;
  color: white;
  height: 200px;
  min-height: 200px;
  background-color: rgba(34, 22, 52, 0.8);
  background-blend-mode: soft-light; }
  .profile .profile-header {
    display: flex;
    justify-content: center; }
    .profile .profile-header .header-info {
      display: flex;
      flex-direction: row; }
      .profile .profile-header .header-info .info-image {
        display: flex;
        align-items: center;
        margin-right: 50px; }
        .profile .profile-header .header-info .info-image img {
          max-height: 150px;
          max-width: 150px; }
      .profile .profile-header .header-info .info-text {
        display: flex;
        flex-direction: column;
        margin-right: 100px; }
        .profile .profile-header .header-info .info-text h1 {
          font-size: 56px;
          font-weight: 600; }
        .profile .profile-header .header-info .info-text h2 {
          font-size: 16px;
          font-weight: 300; }
        .profile .profile-header .header-info .info-text .text-level:before {
          content: 'Level: '; }
        .profile .profile-header .header-info .info-text .text-exp:before {
          content: 'Exp: '; }
        .profile .profile-header .header-info .info-text .text-completed:before {
          content: 'Completed: '; }
    .profile .profile-header .header-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 15px; }
      .profile .profile-header .header-buttons button {
        width: 230px;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid transparent;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        transition: all 0.2s ease; }
        .profile .profile-header .header-buttons button:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: black; }

.btn-outline-primary {
  color: white;
  border-color: white; }
  .btn-outline-primary:hover {
    border-color: white;
    color: black;
    background-color: white; }

.profile-body {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 30px; }
  .profile-body .titles {
    color: white;
    font-weight: 300;
    font-size: 24px; }
  .profile-body .containers {
    padding: 15px 30px 0 30px; }
  .profile-body .body-messages {
    flex-grow: 3;
    width: 30%;
    background-color: #4D3576;
    margin-right: 30px;
    border-radius: 5px 5px 0 0; }
    .profile-body .body-messages .messages-container .message {
      color: white; }
      .profile-body .body-messages .messages-container .message .info h2 {
        font-size: 18px;
        font-weight: 600; }
      .profile-body .body-messages .messages-container .message .text h3 {
        font-size: 14px;
        font-weight: 300; }
  .profile-body .body-extensions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    border-radius: 5px 5px 0 0; }
    .profile-body .body-extensions .extensions-activity {
      background-color: #4D3576;
      height: 200px;
      margin-bottom: 30px;
      border-radius: 5px 5px 0 0; }
    .profile-body .body-extensions .extensions-friends {
      background-color: #4D3576;
      height: 150px;
      border-radius: 5px 5px 0 0; }

@media screen and (max-width: 1000px) {
  .profile-body {
    display: flex;
    flex-direction: column; }
    .profile-body .body-messages {
      order: 1;
      width: 100%;
      height: 500px; }
    .profile-body .body-extensions {
      order: 0;
      width: 100%;
      margin-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .profile-body {
    display: flex;
    flex-direction: column; } }

.Registration,
.Login {
  height: 100%;
  width: 100%; }
  .Registration .form,
  .Login .form {
    background-color: #4d3576;
    color: white;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .Registration .form .title,
    .Login .form .title {
      margin-bottom: 80px; }
      .Registration .form .title .text,
      .Login .form .title .text {
        font-weight: 300; }
    .Registration .form .login,
    .Login .form .login {
      display: flex;
      flex-direction: column;
      width: 350px; }
      .Registration .form .login .username,
      .Login .form .login .username {
        display: flex;
        border: none;
        margin: 0 0 10px 0; }
      .Registration .form .login .password,
      .Login .form .login .password {
        display: flex;
        border: none;
        margin: 0 0 15px 0; }
      .Registration .form .login .submit,
      .Login .form .login .submit {
        border: none;
        background-color: #3b275c;
        color: white;
        height: 50px;
        transition: all 0.3s; }
        .Registration .form .login .submit:hover,
        .Login .form .login .submit:hover {
          background-color: #221634; }
    .Registration .form .new-account,
    .Login .form .new-account {
      display: flex;
      margin-top: 50px; }
      .Registration .form .new-account h3,
      .Login .form .new-account h3 {
        font-size: 20px;
        font-weight: 200; }
      .Registration .form .new-account a,
      .Login .form .new-account a {
        color: white;
        font-weight: 500; }

#katakana,
#hiragana {
  color: white;
  width: 1200px;
  height: 700px !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #4d3576;
  padding: 50px 0 0 100px; }
  #katakana .title h2,
  #hiragana .title h2 {
    font-weight: 400;
    font-size: 36px; }
  #katakana .title h3,
  #hiragana .title h3 {
    font-weight: 300;
    font-size: 24px; }
  #katakana .button-container,
  #hiragana .button-container {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #katakana .button-container .help button,
    #hiragana .button-container .help button {
      width: 100%;
      color: #4d3576;
      border: none;
      background-color: white;
      height: 80px;
      border-radius: 3px;
      font-size: 24px;
      transition: all .2s; }
      #katakana .button-container .help button:hover,
      #hiragana .button-container .help button:hover {
        color: white;
        background-color: #4d3576;
        border: 2px solid white; }
    #katakana .button-container .buttons,
    #hiragana .button-container .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #katakana .button-container .buttons button,
      #hiragana .button-container .buttons button {
        transition: all .2s ease;
        color: #4d3576;
        border-radius: 3px;
        background-color: white;
        border: none;
        height: 200px;
        width: 250px;
        outline: none; }
        #katakana .button-container .buttons button .script,
        #hiragana .button-container .buttons button .script {
          font-size: 100px;
          font-weight: 800; }
        #katakana .button-container .buttons button .system,
        #hiragana .button-container .buttons button .system {
          font-size: 20px;
          font-weight: 400; }
        #katakana .button-container .buttons button:hover,
        #hiragana .button-container .buttons button:hover {
          color: white;
          background-color: #4d3576;
          border: 2px solid white; }

@media screen and (max-width: 1200px) {
  #hiragana,
  #katakana {
    padding: 0 0 0 0;
    align-items: center; }
    #hiragana .title,
    #katakana .title {
      margin-top: 50px; }
    #hiragana div,
    #katakana div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 0;
      width: 100%; }
    #hiragana .button-container,
    #katakana .button-container {
      width: 90%; }
      #hiragana .button-container .buttons,
      #katakana .button-container .buttons {
        justify-content: space-around; }
        #hiragana .button-container .buttons button,
        #katakana .button-container .buttons button {
          width: 250px; }
          #hiragana .button-container .buttons button .script,
          #katakana .button-container .buttons button .script {
            font-size: 100px; } }

@media screen and (max-width: 992px) {
  #hiragana,
  #katakana {
    padding: 0 0 0 0;
    align-items: center; }
    #hiragana .title,
    #katakana .title {
      margin-top: 50px; }
    #hiragana div,
    #katakana div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 0;
      width: 100%; }
    #hiragana .button-container,
    #katakana .button-container {
      width: 90%; }
      #hiragana .button-container .buttons,
      #katakana .button-container .buttons {
        justify-content: space-around; }
        #hiragana .button-container .buttons button,
        #katakana .button-container .buttons button {
          width: 200px; }
          #hiragana .button-container .buttons button .script,
          #katakana .button-container .buttons button .script {
            font-size: 72px; } }

@media screen and (max-width: 768px) {
  #hiragana,
  #katakana {
    padding: 0 0 0 0;
    align-items: center; }
    #hiragana .title,
    #katakana .title {
      margin-top: 50px; }
    #hiragana div,
    #katakana div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 0;
      width: 100%; }
    #hiragana .button-container,
    #katakana .button-container {
      width: 90%; }
      #hiragana .button-container .buttons,
      #katakana .button-container .buttons {
        justify-content: space-around; }
        #hiragana .button-container .buttons button,
        #katakana .button-container .buttons button {
          width: 150px; }
          #hiragana .button-container .buttons button .script,
          #katakana .button-container .buttons button .script {
            font-size: 64px; } }

.Settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.settings {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 50px; }
  .settings input {
    margin-bottom: 15px;
    background-color: #e9e9e9;
    border: none; }
  .settings button {
    background-color: #4d3576;
    border: none;
    color: white;
    margin-top: 15px;
    height: 40px; }
  .settings a {
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
    color: #4d3576; }

.Game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.game {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4d3576; }
  .game .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .game .wrapper .gameOver {
      color: white;
      display: flex;
      flex-direction: column; }
      .game .wrapper .gameOver .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 30px 0; }
        .game .wrapper .gameOver .text h1 {
          padding: 0 0 20px 0;
          font-size: 60px; }
      .game .wrapper .gameOver .buttons {
        width: 100%;
        height: 50px;
        display: flex; }
        .game .wrapper .gameOver .buttons button {
          background-color: #4d3576;
          border: 1px solid white;
          color: white;
          width: 100%;
          height: 100%; }
          .game .wrapper .gameOver .buttons button:hover {
            color: #4d3576;
            background-color: white; }
    .game .wrapper .main {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .game .wrapper .main .script button {
        width: 300px;
        height: 300px;
        font-size: 140px;
        border: 2px solid white;
        font-weight: 800;
        color: white;
        border-radius: 3px;
        background-color: transparent; }
      .game .wrapper .main .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0 0 0; }
        .game .wrapper .main .options button {
          width: 60px;
          height: 60px;
          font-size: 24px;
          color: #4d3576;
          font-weight: 500;
          background-color: white;
          border: none;
          border-radius: 3px;
          transition: all .2s; }
          .game .wrapper .main .options button:hover {
            color: white;
            background-color: #4d3576;
            border: 2px solid white; }
      .game .wrapper .main .other {
        width: 100%;
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column; }
        .game .wrapper .main .other .page {
          margin: 0 0 20px 0;
          justify-content: space-evenly;
          display: flex;
          flex-direction: row; }
          .game .wrapper .main .other .page button {
            height: 25px;
            border-radius: 50%;
            border: none;
            background-color: #3b275c;
            width: 25px;
            transition: all .2s; }
            .game .wrapper .main .other .page button:hover {
              background-color: white; }
          .game .wrapper .main .other .page .incorrect {
            color: white;
            background-color: red; }
          .game .wrapper .main .other .page .correct {
            color: white;
            background-color: green; }
        .game .wrapper .main .other .discussion {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row; }
          .game .wrapper .main .other .discussion button {
            width: 100%;
            height: 40px;
            border: none;
            color: white;
            background-color: #3b275c;
            transition: all .2s; }
            .game .wrapper .main .other .discussion button:hover {
              background-color: white;
              color: #4d3576; }

.Learn {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column; }

.news {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  .news .article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #222628;
    background-image: url(/src/images/header.jpg);
    background-blend-mode: soft-light;
    height: 250px;
    width: 320px;
    margin-bottom: 30px;
    transition: all 0.2s; }
    .news .article:hover {
      transform: scale(1.1); }
    .news .article .title {
      margin: 20px 20px 0 20px;
      font-size: 24px;
      font-weight: 300;
      padding: 0 0 0 0; }
    .news .article .read {
      margin: 0 0 0 0;
      color: white;
      border: none;
      height: 50px;
      background-color: #4d3576;
      transition: all 0.2s; }
      .news .article .read:hover {
        margin: 10px;
        background-color: white;
        color: #4d3576; }

.Article {
  display: flex;
  flex-direction: column;
  color: #333333; }
  .Article .article {
    display: flex;
    flex-direction: column; }
    .Article .article .title {
      color: #4d3576;
      font-size: 48px;
      font-weight: 500;
      line-height: 2; }
    .Article .article .text {
      font-size: 24px;
      font-weight: 300;
      line-height: 2;
      text-justify: inter-word; }

